@media (prefers-color-scheme: dark) {
    body{
        background-color: #000;
        color: #fff;
    }
}
@media (prefers-color-scheme: light)
{
    body{
        background-color: #fff;
        color: #000;
    }
}

body
{
    margin: 0;
    padding: 0;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 30%;
    padding: 10px;
}
.header
{
    max-height: 70px;
    background-color: #83ffff5f;
    justify-content: space-between;
    display: flex;
}
.page-title
{
    height: 40px;
    padding: 5px;
    list-style: none;
}
.page-title li a
{
    font-size: clamp(10px,40px,80px);
    color: #00ffff;
}
.menu
{
    display: flex;
    list-style: none;
    padding-right: 10px;
}
.menu li
{
    border-radius: 30%;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #0be40b;
}
.menu li a
{
    color: #000;
}
.code
{
    display: flex;
    align-items: center;
    justify-content: center;
}